__pycache__/
HAT-Vol2/
FSR-2025-Hakka-evaluation/
FSR-2025-Hakka-evaluation-key/
FSR-2025-Hakka-final-release/
exp_track1_whisper_large_lora/
exp_track2_whisper_large_lora/
runs/
*.csv
*.txt
*.tsv
*.jsonl